@import 'nib'

global-reset()

*
  box-sizing border-box
  font-smoothing anti-aliased

body
  font-size 1.2em
  line-height 1.8
  font-family 'Helvetica Neue', Helvetica, sans-serif
  padding 20px

h1
  font-size 2em

h2
  font-size 1.6em
  font-weight 700

@media (max-width: 64em)
  body
    padding 2em
